@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  padding: 1.875rem $padding-mobile;

  background-color: $very-light-blue;
  display: grid;
  place-content: center;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 2.188rem;

  @include query(lg) {
    grid-template-columns: 1fr auto auto;
  }
}
