@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  padding: 1rem $padding-mobile;

  background-color: $very-light-blue;
  display: grid;
  place-content: center;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 2.188vw;

  @include query(lg) {
    grid-template-columns: 1fr auto auto;
  }

  &__item {
    display: grid;
    place-content: center;
    @include query(lg) {
      place-content: stretch;
    }
  }
}
