@use '../utils/variables' as *;

.sidebar {
  padding: 1.7rem;
  background-color: $light-blue;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  top: 0;
  position: sticky;

  &__title {
    margin: 4.75rem 0 2.5rem 0;
  }
}
