@use '../utils/variables' as *;

.accesories-card {
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15rem 6rem;
  grid-template-areas:
    'image'
    'content';

  &__image {
    border-radius: $border-radius $border-radius 0 0;
    grid-area: image;

    img {
      width: 7rem;
      height: 9rem;
      object-fit: cover;
    }
  }

  &__content {
    border-radius: 0 0 $border-radius $border-radius;
    grid-area: content;
  }
}
