@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  padding: 1.875rem $padding-mobile;

  display: grid;
  place-content: center;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 1.313rem;

  .logo-mobile {
    justify-self: center;
  }

  &__item {
    display: grid;
    place-content: center;
  }
}
